<h1>Test results</h1>
<%- @test_results.each do |photographer, results| -%>
<div class="<%= results.values.all? ? 'alert-success' : 'alert-danger' -%>">
  <h2><%= photographer.fullname %></h2>
  <ol>
<%- results.each do |test_name, result| -%>
    <li class="<%= result ? 'alert-success' : 'alert-danger' -%>"><%= test_name %>: <%= result %></li>
<%- end -%>
  </ol>
</div>
<%- end -%>
