<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :picture_user %>
  </div>

  <div class="field">
    <%= form.label :image_title %>
    <%= form.text_field :image_title, id: :picture_image_title %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption, id: :picture_caption %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :picture_description %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month, id: :picture_month %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :picture_year %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :picture_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
