<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2 class="alert-heading"><%= pluralize(picture.errors.count, "error") %> stopped this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group row">
    <legend class="col">Enter things here</legend>
      <div class="col">

      <div class="form-group">
        <%= form.label :caption %>
        <%= form.text_field :caption, class: 'form-control' %>
        <small id="captionHelp" class="form-text text-muted">The caption on the homepage</small>
      </div>

      <div class="form-group">
        <%= form.label :image_title %>
        <%= form.text_field :image_title, class: 'form-control' %>
        <small id="titleHelp" class="form-text text-muted">The title on the image page - may be the same as the caption</small>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control', rows: 10 %>
        <small id="descriptionHelp" class="form-text text-muted">The description on the image page</small>
      </div>

      <div class="form-group">
        <%= form.label :alt %>
        <%= form.text_field :alt, class: 'form-control' %>
        <small id="altHelp" class="form-text text-muted">A description of the image for the visually impaired</small>
      </div>

    </div>
  </fieldset>

  <div class="row mb-3 text-right">
    <div class="col">
      <small id="extra">Extra information</small>
    </div>
  </div>

  <fieldset class="form-group row hidden">
    <legend class="col">You can probably ignore these fields</legend>
    <div class="col">

      <div class="form-group">
        <%= form.label :user_id, 'Photographer' %>
        <%- if current_user.admin? %>
          <%= form.collection_select :user_id,
                                   @users,
                                   :id,
                                   :fullname,
                                   { prompt: true },
                                   { id: :picture_user_id,
                                     class: 'custom-select' } %>
        <%- else %>
          <%= form.collection_select :user_id,
                                     @users,
                                     :id,
                                     :fullname,
                                     { prompt: true },
                                     { id: :picture_user_id,
                                       class: 'custom-select',
                                       disabled: true } %>
         <%- end %>
      </div>

      <div class="form-group">
        <%= form.label :month %>
        <%= form.select :month,
                        Date::MONTHNAMES.compact.zip([*1..12]).to_h,
                        {},
                        { class: 'custom-select' } %>
      </div>

      <div class="form-group">
        <%= form.label :year %>
        <%= form.select :year,
                        [Date.current.year - 1, Date.current.year, Date.current.year + 1],
                        {},
                        { class: 'custom-select' } %>
      </div>

    </div>
  </fieldset>

  <div class="actions row">
    <div class="col">
      <%= form.submit 'Save my image', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
