<div class="row">
  <div class="col">
    <h1>Welcome <%= current_user.fullname %></h1>

    <p class="lead">Please <%= link_to 'add a picture', new_picture_path, id: 'add-picture' %></p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>Added for the last month (<%= @last_month_name %>): <%= @last_month_pictures.count %> / <%= @photographers.count %></h2>
  </div>

  <%- @photographers.each do |photographer, submitted| -%>
  <p class="col-4 alert <%= submitted ? 'alert-success' : 'alert-danger' -%>">
    <%= photographer %>
  </p>
  <%- end -%>
</div>

<div class="row">
  <table class="col table">
    <thead>
      <tr>
        <th>User</th>
        <th>Month</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pictures.each do |picture| %>
        <tr>
          <td><%= picture.user.fullname %></td>
          <td><%= Date::MONTHNAMES[picture.month] %></td>
          <td><%= link_to 'Show', picture %></td>
          <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
          <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
