<p id="notice"><%= notice %></p>

<pre>
<%= @picture.yaml_output %>
</pre>

<h2>Other fields</h2>

<ul>
  <li>
    <strong>User:</strong>
    <%= @picture.photographer %>
  </li>

  <li>
    <strong>Year:</strong>
    <%= @picture.year %>
  </li>
</ul>

<p>
  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Back', pictures_path %>
</p>
<p>
  <%= link_to 'Add another picture', new_picture_path %>
</p>
