<!DOCTYPE html>
<html>
  <head>
    <title>Year in Pictures Helper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container">
    <%- if notice || alert -%>
    <div class="row">
      <div class="col">
        <%- if notice -%>
        <p class="alert alert-info"><%= notice %></p>
        <%- end -%>
        <%- if alert -%>
        <p class="alert alert-warning"><%= alert %></p>
        <%- end -%>
      </div>
    </div>
    <%- end -%>

    <%= yield %>
  </body>
</html>
